h1 { 
<<<<<<< HEAD
  font-style: normal;
  color: blue;
}

p {
  font-style: italic;
  color: red;
=======
  font-style: italic;
  text-decoration: dashed;
}

p { 
  font-style: normal;
  color: brown;
>>>>>>> Paul
}